beautifulsoup4
ipycache
ipykernel
ipython
ipython-genutils
ipywidgets
lxml
myst-nb
myst-parser
nbsphinx
numpydoc
palettable
pandas
# For now, install pygieons from source
#git+https://github.com/pygieons/pygieons
pygieons
pypistats
requests
Sphinx
sphinx-book-theme
tqdm
