beautifulsoup4
ipycache
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter-book>=0.7.0b
lxml
myst-nb
myst-parser
nbsphinx
numpydoc
palettable
pandas
# For now, install pygieons from source
git+https://github.com/pygieons/pygieons
pypistats
requests
Sphinx
sphinx-book-theme
sphinx-togglebutton
sphinx_copybutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib.bibtex
tqdm
